* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.button1 {
    background: #d1af21;
    line-height: 50px;
    height: 54px;
    padding: 0 50px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
    border: 0;
    position: relative;
    border: 2px solid #d1af21;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    overflow: hidden;
    font-weight: bold;
}

.button1:hover {
    color: #fff !important;
    background-color: transparent;
    text-shadow: nthree;
    border: 2px solid #000;
}

.button1:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

.button1:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    content: '';
    color: #fff !important;
    background: #000;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.button2 {
    background: #0D0808;
    line-height: 46px;
    height: 50px;
    padding: 0 50px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
    border: 0;
    position: relative;
    border: 2px solid #d1af21;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    overflow: hidden;
}

.button2:hover {
    color: #fff !important;
    background-color: transparent;
    text-shadow: nthree;
    border: 2px solid #000;
}

.button2:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

.button2:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #fff !important;
    background: #000;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.button3 {
    background: #d1af21;
    line-height: 50px;
    height: 54px;
    padding: 0 50px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
    border: 0;
    position: relative;
    border: 2px solid #d1af21;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    overflow: hidden;
    font-weight: bold;
}

.button3:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nthree;
    border: 2px solid #fff;
}

.button3:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

.button3:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #fff;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.sliderhome {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 500px;
    background: #000;
}

.sliderhome video {
    height: 100%;
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    object-fit: cover
}

.sliderhome .headeings {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center
}

.sliderhome .headeings h1 {
    font-size: 64px;
    line-height: 64px;
    margin-top: 10px;
    color: #fff;
    position: relative;
    font-weight: 400;
}

.sliderhome .headeings p {
    font-size: 18px;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
}


.mapsec {
    position: relative;
    overflow: hidden;
}

.map-1 {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0px;
    width: 700px;
}

.map-2 {
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0px;
    width: 700px;
}


.about-sec {
    padding: 60px 0;
}

.about-sec .aboutimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-sec img {
    display: block;
    margin: 0px auto;
    width: 90%;
    height: 80%;
    display: block;
    margin: 0px auto;
}

.about-sec img {
    transform-origin: 0 0;
    animation: map-1 1s ease-in-out forwards;
}

@keyframes map-1 {
    0% {
        margin-bottom: -100px;
        opacity: 0;
    }

    100% {
        margin-bottom: 0px;
        opacity: 1;
    }
}

.about-sec small {
    color: #505050;
    display: block;
    font-size: 16px;
    font-weight: 600;
}

.about-sec h2 {
    color: #000000;
    display: block;
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding: 0;
}

.about-sec p {
    color: #505050;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

.snapshot {
    padding: 0px 0 20px 0;
}

.stat {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.10);
    padding: 20px 10px 30px 10px;
    text-align: center;
    background: #fff;
    border-radius: 18px;
    margin: 0 10px;
}

.stat .icon {
    width: 55px;
    height: 55px;
    line-height: 55px;
    display: block;
    margin: 10px auto 10px;
    background: #d1af21;
    border-radius: 40px;
}

.stat .icon img {
    width: 70%;
}

.stat strong {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: #030303;
    font-family: 'EB Garamond', serif;
    display: block;
}

.stat span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #000;
    display: block;
}

.stat strong .counter-value {
    display: inline-block;
}


.foundationspap1 ul {
    list-style: none;
    padding: 0px 0 0;
    margin: 0;
    text-align: center;
}

.foundationspap1 ul li {
    width: 12%;
    display: inline-block;
    margin: 0 2%;
    display: inline-block;
}

.foundationspap1 ul li .images {
    width: 120px;
    height: 120px;
    background: #fff;
    line-height: 120px;
    border-radius: 100px;
    margin: 0 auto 40px
}

.foundationspap1 ul li .images img {
    width: 50%;
    transition: transform .8s
}

.foundationspap1 ul li .images img:hover {
    transform: scale(1.5)
}





.worldmap {
    width: 100%;
}

.worldmap img {
    width: 100%;
}


.haccordian {
    padding: 50px 0;
    position: relative;
}

.haccordian .horizontal-accordion {
    display: flex;
}

.haccordian .choice {
    height: 470px;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    float: left;
    align-items: center;
    transition: width 0.2s;
    border-radius: 18px;
    border: 0;
}

.haccordian .expand {
    width: 65%;
}

.haccordian .unset {
    width: 150px;
    color: black !important;
    background-color: #ddd !important;
}

.haccordian .small {
    width: 150px;
    background-color: #ddd !important;
}

.haccordian .small .card-text {
    opacity: 0;
    width: 0;
}

.haccordian .expand .card-text {
    transition-delay: 200ms;
    opacity: 1;
    font-size: 14px;
    line-height: 24px;
}

.haccordian .accornew {
    position: relative;
}

.haccordian .accornew .accornew-body {
    height: 100%;
    position: relative;
}

.haccordian .accornew .accornew-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.haccordian .accornew .card-bodyin {
    position: absolute;
    top: 0;
    z-index: 1;
    color: #fff;
    height: 100%;
    cursor: pointer;
}

.haccordian .small .card-body .card-bodyin {
    position: inherit;
}

.haccordian .accornew-body {
    width: 100%;
}

.haccordian .accornew-body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.7;
    background: #000;
    left: 0;
    top: 0;
}

.haccordian .small.accornew:nth-child(1) .accornew-body:before {
    content: "";
    opacity: 0.9;
    background: #d1af21;
}

.haccordian .small.accornew:nth-child(2) .accornew-body:before {
    content: "";
    opacity: 0.9;
    background: #d1af21;
}

.haccordian .small.accornew:nth-child(3) .accornew-body:before {
    content: "";
    opacity: 0.9;
    background: #d1af21;
}

.haccordian .small.accornew:nth-child(4) .accornew-body:before {
    content: "";
    opacity: 0.9;
    background: #74bd39;
}

.haccordian .small.accornew:nth-child(5) .accornew-body:before {
    content: "";
    opacity: 0.9;
    background: #a1cc2e;
}

.haccordian .small.accornew:nth-child(6) .accornew-body:before {
    content: "";
    opacity: 0.9;
    background: #b6d429;
}

.haccordian .small.accornew:nth-child(7) .accornew-body:before {
    content: "";
    opacity: 0.9;
    background: #d5df21;
}

.haccordian .small.accornew:nth-child(8) .accornew-body:before {
    content: "";
    opacity: 0.9;
    background: #d1af21;
}


.haccordian .accornew-body .cardtop {
    padding: 30px;
    z-index: 1;
}

.haccordian .accornew-body .cardtop .card-title1 {
    opacity: 0;
    height: 0;
}

.haccordian .small .accornew-body .cardtop .card-title1 {
    opacity: 1;
    position: absolute;
    bottom: 100px;
    transform: rotate(180deg);
    white-space: nowrap;
    writing-mode: vertical-rl;
}

.haccordian .accornew-body .cardtop .card-title {
    opacity: 1;
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 15px 0;
}

.haccordian .small .accornew-body .cardtop .card-title {
    opacity: 0;
}


.haccordian .accornew-body .bottomcard {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    z-index: 1;
}

.haccordian .accornew-body .bottomcard span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    background: #fff;
    color: #000;
    margin: 0 0px 0 0px;
    border-radius: 40px;
    display: block;
    float: right;
}

.haccordian .small .accornew-body .bottomcard {
    padding: 30px 15px;
    display: block;
    text-align: center;
}

.haccordian .small .accornew-body .bottomcard span {
    background: #000;
    color: #fff;
    bottom: 30px;
    display: inline-block;
}

.haccordian .accornew-body .bottomcard a {
    opacity: 1;
    height: 50px;
    line-height: 50px;
    background: #d1af21;
    border-radius: 40px;
    float: left;
    font-size: 12px;
    color: #fff;
    width: 80%;
    border: 0;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0px 0 0px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.haccordian .accornew-body .bottomcard a:hover {
    background: #fff;
    color: #000;
}

.haccordian .small .accornew-body .bottomcard a {
    opacity: 0;
    width: 0%;
}

.elementpedding {
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
}


.fivelement {
    background: #0D0D0D;
    position: relative;
    padding: 80px 0 500px 0;
    overflow: hidden;
}

.fivelement .elementbg1 {
    position: absolute;
    top: 0;
    z-index: 0;
    right: 0px;
    width: 520px;
}

.fivelement .elementbg2 {
    position: absolute;
    bottom: -250px;
    z-index: 0;
    left: 0px;
    width: 450px;
}

.fivelement .elemnts {
    position: relative;
    z-index: 1;
}

.fivelement .elemnts small {
    display: block;
    font-size: 14px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    padding: 0 0 8px 0;
    text-align: left;
}

.fivelement .elemnts h3 {
    font-size: 38px;
    line-height: 48px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    text-align: left;
    padding: 0 0 20px 0;
}

.fivelement .elemnts p {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    padding: 0 0 8px 0;
    text-align: left;
}

.buttondiv {
    text-align: center;
}

.fivelement .element1 {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    height: 530px;
    background: linear-gradient(0deg, #4355A4 1.75%, #4299D4 98.69%);
}

.fivelement .element1 img {
    width: 84%;
    position: absolute;
    opacity: .9;
    left: 8%;
    bottom: 0;
}

.fivelement .element1 .content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 50px;
    text-align: center;
    z-index: 1;
}

.fivelement .element1 .content img {
    width: 75px;
    display: block;
    margin: 0px auto 15px;
    opacity: 1;
    position: static;
}

.fivelement .element1 .content h4 {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0;
}

.fivelement .element1 .content span {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
}

.fivelement .element2 {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    height: 250px;
    margin: 0 0 30px 0;
    background: linear-gradient(90deg, #226D37 0%, #73BE44 100%);
}

.fivelement .element2 img {
    width: 88%;
    display: block;
    margin: 0px auto;
    bottom: 0;
    left: 30%;
    position: absolute;
    opacity: .9;
}

.fivelement .element2 .content {
    position: absolute;
    left: 0;
    width: 70%;
    bottom: 25px;
    text-align: center;
    z-index: 1;
}

.fivelement .element2 .content img {
    position: initial;
    width: 85px;
    display: block;
    margin: 0px auto 15px;
    opacity: 1;
    position: static;
}

.fivelement .element2 .content h4 {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0;
}

.fivelement .element2 .content span {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
}

.fivelement .element3 {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    height: 520px;
    height: 250px;
    margin: 0 0 30px 0;
    background: linear-gradient(90deg, #00A7B7 0%, #71C9C9 100%);
}

.fivelement .element3 img {
    width: 50%;
    position: absolute;
    bottom: 0;
    opacity: .9;
}

.fivelement .element3 .content {
    position: absolute;
    right: 0;
    width: 50%;
    bottom: 50px;
    text-align: center;
    z-index: 1;
}

.fivelement .element3 .content img {
    width: 75px;
    display: block;
    margin: 0px auto 15px;
    opacity: 1;
    position: static;
}

.fivelement .element3 .content h4 {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0;
}

.fivelement .element3 .content span {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
}

.fivelement .element4 {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    height: 520px;
    height: 250px;
    background: linear-gradient(180deg, #F8B018 0%, #ED264E 100%);
}

.fivelement .element4 img {
    width: 50%;
    /* absolute; */
    bottom: 0;
    opacity: .9;
}

.fivelement .element4 .content {
    position: absolute;
    right: 0;
    width: 50%;
    bottom: 50px;
    text-align: center;
    z-index: 1;
}

.fivelement .element4 .content img {
    width: 75px;
    display: block;
    margin: 0px auto 15px;
    opacity: 1;
    position: static;
}

.fivelement .element4 .content h4 {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0;
}

.fivelement .element4 .content span {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
}

.fivelement .element5 {
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    height: 520px;
    height: 250px;
    background: linear-gradient(0deg, #512A77 0.3%, #E47FB1 99.73%);
}

.fivelement .element5 img {
    width: 100%;
    position: relative;
    opacity: .9;
}

.fivelement .element5 .content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 30px;
    text-align: center;
    z-index: 1;
}

.fivelement .element5 .content img {
    width: 75px;
    display: block;
    margin: 0px auto 15px;
    opacity: 1;
    position: static;
    transition: ease all 0.3s;
}

.fivelement .element5 .content h4 {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    transition: ease all 0.3s;
    display: block;
}

.fivelement .element5 .content span {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
}

.fivelement .element5:hover .content img {
    margin: 0px auto 25px;
}

.fivelement .element5:hover .content h4 {
    margin: 10px 0 0 0;
}

.galleryhome {
    top: -400px;
    position: relative;
    margin: 0 0 -350px 0;
}

.galleryhome:before {
    content: "";
    position: absolute;
    top: 400px;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background: #F5F3ED;
    z-index: -1;
}

.galleryhome .swbutton1 {
    margin: 40px auto 0;
}

.galleryhome small {
    display: block;
    font-size: 14px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    padding: 0 0 8px 0;
    text-align: center;
}

.galleryhome h3 {
    font-size: 38px;
    line-height: 48px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 0 0 20px 0;
}

.galleryhome hr {
    background: rgba(255, 255, 255, 0.10);
    margin-bottom: 80px;
}

.gallerslider .galldiv {
    margin: 0 10px;
}


.gallerslider .galldiv .image img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
    overflow: hidden;
}

.galleryhome .galldiv .con {
    text-align: center;
    padding: 10px 0 0 0;
}

.galleryhome .galldiv .con h5 {
    color: #000;
    font-weight: 600;
    font-size: 24px;
    display: block;
    margin: 0;
}

.galleryhome .galldiv .con small {
    color: #505050;
    font-size: 14px;
    display: block;
}

.commensec {
    padding: 70px 0;
}

.commensec .afslider {
    padding: 30px 0 0 0;
}


.commensec .afslider li img {
    width: 80%;
    display: block;
    margin: 0px auto;
}

.teamsec {
    padding: 70px 0 0 0;
}

.teamsec hr {
    background: rgba(33, 33, 32, 0.10);
    margin-top: 80px;
}

.ourteam {
    margin: 0px -10px 0 !important;
}

.ourteam .teamitem {
    margin: 0 10px;
}

.team-item {
    border: 0;
    padding: 0px;
    text-align: left;
}

.team-item img {
    padding: 0px 0 0 0 !important;
    margin: 0px auto 10px !important;
    width: 100%;
    border-radius: 18px;
}

.team-item h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.team-item small {
    color: #505050;
    font-size: 14px;
    font-weight: 400;
    text-align: left !important;
}

.team-item small strong {
    color: #505050;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.ourleader {
    position: relative;
}

.ourleader:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    display: block;
    background: #F5F3ED;
    z-index: -1;
}

.ourleader h3 {
    color: #0D0D0D;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 0 0 10px 0;
}

.ourleader small {
    color: #505050;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: block;
}

.ourleader hr {
    background: #E7E0C8;
    margin-bottom: 80px;
}

.leadershipsec {
    position: relative;
}

.leader-item {
    position: relative;
    padding: 0 10px;
}

.leader-item .contentsec {
    display: none;
    font-size: 14px;
    text-align: center;
    position: absolute;
    background: #fff;
    padding: 15px;
    top: -160px;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgb(24 28 33 / 5%);
    min-height: 160px;
}

.leader-item .contentsec:after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    left: 47%;
}

.testimonial-item:hover .contentsec {
    display: block;
}

.leadershipsec .case-item {
    padding: 0 0px;
    text-align: center;
}

.leadershipsec .case-item img {
    border-radius: 18px;
    width: 100%;
    object-fit: cover;
    height: 450px;
    overflow: hidden;
    margin: 20px auto;
}

.leadershipsec .case-item:hover img {
    transform: scale(1) !important;
}

.leadershipsec .case-item h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: #505050;
}

.leadershipsec .case-item small {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #505050;
}


.feedslider .slidin {
    margin: 0 10px 0 0;
}

.feedslider .slidin img {
    width: 100%;
    height: 240px;
    border-radius: 18px;
    object-fit: cover;
}

.schoolcurri img {
    height: 90px;
    display: block;
    margin: 30px auto 0;
    width: auto;
    object-fit: contain;
}

.schoolcurri strong {
    text-align: center;
    display: block;
    padding: 5px 0 0 0;
}

.schoolcurri a {
    text-align: center;
    text-decoration: underline;
    color: #d1af21;
    display: block;
    padding: 5px 0 0 0;
}

.globe {
    position: relative;
    background: #d1af21;
}

.globe .globe-1 {
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0px;
    width: 450px;
}

.parenttesti {
    padding: 70px 0 80px 0;
    position: relative;
    z-index: 1;
}

.parenttesti small {
    display: block;
    font-size: 14px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    padding: 0 0 0px 0;
    text-align: center;
}

.parenttesti h4 {
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    text-align: center;
    padding: 0 0 20px 0;
}

.parenttesti .pimg {
    width: 100%;
    float: left;
    position: relative;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 0px;
    cursor: pointer;
}

.parenttesti .pimg .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: ease all 0.3s;
    align-items: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.parenttesti .pimg1 {
    height: 420px;
}

.parenttesti .pimg .icon .data {
    width: 100%;
    text-align: center;
    padding: 0 20px;
}

.parenttesti .pimg .icon i {
    font-size: 24px;
    color: #fff;
    padding: 0 0 0px 0;
    transition: ease all 0.3s;
    border: 2px solid #fff;
    width: 70px;
    height: 70px;
    border-radius: 60px;
    line-height: 66px;
    display: block;
    margin: 0px auto 10px;
}

.parenttesti .pimg .icon strong {
    display: block;
    color: #fff;
}

.parenttesti .pimg .icon p {
    display: block;
    color: #fff;
    font-size: 13px;
}

.parenttesti .pimg:hover .icon {
    background: rgba(0, 0, 0, 0.7);
}

.parenttesti .pimg:hover .icon i {
    margin: 0px auto 30px;
}

.modal {
    top: 0;
}

.parenttesti .pimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-body iframe {
    width: 100%;
    height: 450px !important;
}

.popupcontent {
    position: relative;
}

.popupcontent .btn-close {
    position: absolute;
    top: -40px;
    right: 0;
    color: #fff;
    --bs-btn-close-bg: url(../newimages/download11.svg);
    font-size: 20px;
    opacity: 1;
}

.popupcontent .modal-body {
    background: #000;
}

.bgcolor {
    background: #F5F3ED;
}

.newslatter {
    position: relative;
    z-index: 1;
}

.newslatter img {
    width: 80%;
    display: block;
    margin: 0px auto;
}

.newslatter .content {
    display: block;
    padding: 50px 25% 0 0;
}

.newslatter .content span {
    display: block;
    font-size: 14px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    padding: 0 0 0px 0;
}

.newslatter .content h5 {
    font-size: 32px;
    line-height: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
}

.newslatter .nlsec {
    display: block;
    padding: 30px 0 0 0;
}

.newslatter .nlsec input {
    background: #fff;
    border: 0;
    line-height: 50px;
    height: 50px;
    padding: 0 15px;
    font-size: 14px;
    width: 100%;
    font-style: italic;
    border-radius: 50px;
}

.newslatter .nlsec .swbutton2 {
    margin: 0;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    left: 0px;
    bottom: 60px;
    width: 100%;
    padding: 0px;
}

.slick-dots li:last-child {
    margin-bottom: 0px;
}

.slick-dots li:first-child {
    padding-left: 00px;
}

.slick-dots li button {
    display: block;
    width: 11px;
    height: 11px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: none;
    text-indent: -9999px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0px 4px;
}

/* .slick-dots li.slick-active button {
    background-color: #fc654c;
} */

.nocontroller .slick-dots {
    display: none !important;
}

.nocontroller .slick-prev,
.nocontroller .slick-next {
    display: none !important;
}

.parenttesti .sldier .slick-prev:hover,
.parenttesti .sldier .slick-next:hover {
    background: #fff;
    color: #000;
}

.gallerslider .sldier2 .slick-prev,
.gallerslider .sldier2 .slick-next {
    top: 42%;
}


.parentstests {
    background: #000;
    padding: 20px;
    border-radius: 18px;
}

.parentstests iframe {
    border-radius: 18px;
    overflow: hidden;
    width: 100%;
}

.dotes .slick-arrow {
    display: none !important;
}

.dotes .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    left: 0px;
    bottom: -20px;
    width: 100%;
    padding: 0px;
}

.dotes .slick-dots li {
    padding: 0;
}

.dotes .slick-dots li:last-child {
    margin-bottom: 0px;
}


.dotes .slick-dots li button {
    display: block;
    width: 11px;
    height: 11px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #fff;
    text-indent: -9999px;
    /* b margin: 0px 10px; */
}

.dotes .slick-dots li.slick-active button {
    background-color: #000;
}

.newfooter {
    background: #000;
}

.newfooter .footelogo {
    position: relative;
    background: #fff;
    padding: 0px 20px 30px 20px;
    min-height: 400px;
    text-align: center;
}

.newfooter .footelogo:before {
    height: 30px;
    position: absolute;
    content: "";
    top: -30px;
    width: 100%;
    background: #fff;
    left: 0;
}

.newfooter .footelogo img {
    margin: 0 auto 30px;
    display: block;
}

.newfooter .footelogo p {
    border-top: 1px solid #dadada;
    padding: 15px 0 0 0;
    margin: 0px 0 0 0;
    font-size: 10px;
    color: #000;
}

.contanctinfo {
    display: block;
    padding: 40px 0 20px 0;
    ;
}

.contanctinfo h6 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    color: #FFF;
    font-family: lato;
}

.contanctinfo p {
    display: block;
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
    margin: 0 0 15px 0;
}

.contanctinfo p a {
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
    margin: 0 8px 0 0;
}

.contanctinfo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contanctinfo ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contanctinfo ul li a {
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
    margin: 0 8px 0 0;
}

.contanctinfo ul li a:hover {
    color: #d1af21;
}

.socialnew {
    clear: both;
    margin: 30px 0 0 0;
}

.socialnew a {
    width: 30px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    float: left;
    border-radius: 30px;
    color: #000;
    text-align: center;
    display: block;
    margin: 0 10px 0 0;
}

.socialnew a:hover {
    background: #d1af21;
    color: #fff;
}



/* ==========================================================================
    Simple Line Icons
========================================================================== */
@font-face {
    font-family: 'simple-line-icons';
    src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0');
    src: url('../fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('../fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('../fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('../fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('../fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-user,
.icon-people,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-login,
.icon-logout,
.icon-emotsmile,
.icon-phone,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-map,
.icon-location-pin,
.icon-direction,
.icon-directions,
.icon-compass,
.icon-layers,
.icon-menu,
.icon-list,
.icon-options-vertical,
.icon-options,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-arrow-left-circle,
.icon-arrow-right-circle,
.icon-arrow-down-circle,
.icon-check,
.icon-clock,
.icon-plus,
.icon-minus,
.icon-close,
.icon-event,
.icon-exclamation,
.icon-organization,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-mustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-disc,
.icon-cursor,
.icon-cursor-move,
.icon-crop,
.icon-chemistry,
.icon-speedometer,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglass,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-folder-alt,
.icon-folder,
.icon-film,
.icon-feed,
.icon-drop,
.icon-drawer,
.icon-docs,
.icon-doc,
.icon-diamond,
.icon-cup,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-frame,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-loop,
.icon-home,
.icon-grid,
.icon-graph,
.icon-microphone,
.icon-music-tone-alt,
.icon-music-tone,
.icon-earphones-alt,
.icon-earphones,
.icon-equalizer,
.icon-like,
.icon-dislike,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-calendar,
.icon-bulb,
.icon-chart,
.icon-ban,
.icon-bubble,
.icon-camrecorder,
.icon-camera,
.icon-cloud-download,
.icon-cloud-upload,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symbol-female,
.icon-symbol-male,
.icon-target,
.icon-credit-card,
.icon-paypal,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-facebook,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-github,
.icon-social-google,
.icon-social-reddit,
.icon-social-skype,
.icon-social-dribbble,
.icon-social-behance,
.icon-social-foursqare,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-stumbleupon,
.icon-social-youtube,
.icon-social-dropbox,
.icon-social-vkontakte,
.icon-social-steam {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-user:before {
    content: "\e005"
}

.icon-people:before {
    content: "\e001"
}

.icon-user-female:before {
    content: "\e000"
}

.icon-user-follow:before {
    content: "\e002"
}

.icon-user-following:before {
    content: "\e003"
}

.icon-user-unfollow:before {
    content: "\e004"
}

.icon-login:before {
    content: "\e066"
}

.icon-logout:before {
    content: "\e065"
}

.icon-emotsmile:before {
    content: "\e021"
}

.icon-phone:before {
    content: "\e600"
}

.icon-call-end:before {
    content: "\e048"
}

.icon-call-in:before {
    content: "\e047"
}

.icon-call-out:before {
    content: "\e046"
}

.icon-map:before {
    content: "\e033"
}

.icon-location-pin:before {
    content: "\e096"
}

.icon-direction:before {
    content: "\e042"
}

.icon-directions:before {
    content: "\e041"
}

.icon-compass:before {
    content: "\e045"
}

.icon-layers:before {
    content: "\e034"
}

.icon-menu:before {
    content: "\e601"
}

.icon-list:before {
    content: "\e067"
}

.icon-options-vertical:before {
    content: "\e602"
}

.icon-options:before {
    content: "\e603"
}

.icon-arrow-down:before {
    content: "\e604"
}

.icon-arrow-left:before {
    content: "\e605"
}

.icon-arrow-right:before {
    content: "\e606"
}

.icon-arrow-up:before {
    content: "\e607"
}

.icon-arrow-up-circle:before {
    content: "\e078"
}

.icon-arrow-left-circle:before {
    content: "\e07a"
}

.icon-arrow-right-circle:before {
    content: "\e079"
}

.icon-arrow-down-circle:before {
    content: "\e07b"
}

.icon-check:before {
    content: "\e080"
}

.icon-clock:before {
    content: "\e081"
}

.icon-plus:before {
    content: "\e095"
}

.icon-minus:before {
    content: "\e615"
}

.icon-close:before {
    content: "\e082"
}

.icon-event:before {
    content: "\e619"
}

.icon-exclamation:before {
    content: "\e617"
}

.icon-organization:before {
    content: "\e616"
}

.icon-trophy:before {
    content: "\e006"
}

.icon-screen-smartphone:before {
    content: "\e010"
}

.icon-screen-desktop:before {
    content: "\e011"
}

.icon-plane:before {
    content: "\e012"
}

.icon-notebook:before {
    content: "\e013"
}

.icon-mustache:before {
    content: "\e014"
}

.icon-mouse:before {
    content: "\e015"
}

.icon-magnet:before {
    content: "\e016"
}

.icon-energy:before {
    content: "\e020"
}

.icon-disc:before {
    content: "\e022"
}

.icon-cursor:before {
    content: "\e06e"
}

.icon-cursor-move:before {
    content: "\e023"
}

.icon-crop:before {
    content: "\e024"
}

.icon-chemistry:before {
    content: "\e026"
}

.icon-speedometer:before {
    content: "\e007"
}

.icon-shield:before {
    content: "\e00e"
}

.icon-screen-tablet:before {
    content: "\e00f"
}

.icon-magic-wand:before {
    content: "\e017"
}

.icon-hourglass:before {
    content: "\e018"
}

.icon-graduation:before {
    content: "\e019"
}

.icon-ghost:before {
    content: "\e01a"
}

.icon-game-controller:before {
    content: "\e01b"
}

.icon-fire:before {
    content: "\e01c"
}

.icon-eyeglass:before {
    content: "\e01d"
}

.icon-envelope-open:before {
    content: "\e01e"
}

.icon-envelope-letter:before {
    content: "\e01f"
}

.icon-bell:before {
    content: "\e027"
}

.icon-badge:before {
    content: "\e028"
}

.icon-anchor:before {
    content: "\e029"
}

.icon-wallet:before {
    content: "\e02a"
}

.icon-vector:before {
    content: "\e02b"
}

.icon-speech:before {
    content: "\e02c"
}

.icon-puzzle:before {
    content: "\e02d"
}

.icon-printer:before {
    content: "\e02e"
}

.icon-present:before {
    content: "\e02f"
}

.icon-playlist:before {
    content: "\e030"
}

.icon-pin:before {
    content: "\e031"
}

.icon-picture:before {
    content: "\e032"
}

.icon-handbag:before {
    content: "\e035"
}

.icon-globe-alt:before {
    content: "\e036"
}

.icon-globe:before {
    content: "\e037"
}

.icon-folder-alt:before {
    content: "\e039"
}

.icon-folder:before {
    content: "\e089"
}

.icon-film:before {
    content: "\e03a"
}

.icon-feed:before {
    content: "\e03b"
}

.icon-drop:before {
    content: "\e03e"
}

.icon-drawer:before {
    content: "\e03f"
}

.icon-docs:before {
    content: "\e040"
}

.icon-doc:before {
    content: "\e085"
}

.icon-diamond:before {
    content: "\e043"
}

.icon-cup:before {
    content: "\e044"
}

.icon-calculator:before {
    content: "\e049"
}

.icon-bubbles:before {
    content: "\e04a"
}

.icon-briefcase:before {
    content: "\e04b"
}

.icon-book-open:before {
    content: "\e04c"
}

.icon-basket-loaded:before {
    content: "\e04d"
}

.icon-basket:before {
    content: "\e04e"
}

.icon-bag:before {
    content: "\e04f"
}

.icon-action-undo:before {
    content: "\e050"
}

.icon-action-redo:before {
    content: "\e051"
}

.icon-wrench:before {
    content: "\e052"
}

.icon-umbrella:before {
    content: "\e053"
}

.icon-trash:before {
    content: "\e054"
}

.icon-tag:before {
    content: "\e055"
}

.icon-support:before {
    content: "\e056"
}

.icon-frame:before {
    content: "\e038"
}

.icon-size-fullscreen:before {
    content: "\e057"
}

.icon-size-actual:before {
    content: "\e058"
}

.icon-shuffle:before {
    content: "\e059"
}

.icon-share-alt:before {
    content: "\e05a"
}

.icon-share:before {
    content: "\e05b"
}

.icon-rocket:before {
    content: "\e05c"
}

.icon-question:before {
    content: "\e05d"
}

.icon-pie-chart:before {
    content: "\e05e"
}

.icon-pencil:before {
    content: "\e05f"
}

.icon-note:before {
    content: "\e060"
}

.icon-loop:before {
    content: "\e064"
}

.icon-home:before {
    content: "\e069"
}

.icon-grid:before {
    content: "\e06a"
}

.icon-graph:before {
    content: "\e06b"
}

.icon-microphone:before {
    content: "\e063"
}

.icon-music-tone-alt:before {
    content: "\e061"
}

.icon-music-tone:before {
    content: "\e062"
}

.icon-earphones-alt:before {
    content: "\e03c"
}

.icon-earphones:before {
    content: "\e03d"
}

.icon-equalizer:before {
    content: "\e06c"
}

.icon-like:before {
    content: "\e068"
}

.icon-dislike:before {
    content: "\e06d"
}

.icon-control-start:before {
    content: "\e06f"
}

.icon-control-rewind:before {
    content: "\e070"
}

.icon-control-play:before {
    content: "\e071"
}

.icon-control-pause:before {
    content: "\e072"
}

.icon-control-forward:before {
    content: "\e073"
}

.icon-control-end:before {
    content: "\e074"
}

.icon-volume-1:before {
    content: "\e09f"
}

.icon-volume-2:before {
    content: "\e0a0"
}

.icon-volume-off:before {
    content: "\e0a1"
}

.icon-calendar:before {
    content: "\e075"
}

.icon-bulb:before {
    content: "\e076"
}

.icon-chart:before {
    content: "\e077"
}

.icon-ban:before {
    content: "\e07c"
}

.icon-bubble:before {
    content: "\e07d"
}

.icon-camrecorder:before {
    content: "\e07e"
}

.icon-camera:before {
    content: "\e07f"
}

.icon-cloud-download:before {
    content: "\e083"
}

.icon-cloud-upload:before {
    content: "\e084"
}

.icon-envelope:before {
    content: "\e086"
}

.icon-eye:before {
    content: "\e087"
}

.icon-flag:before {
    content: "\e088"
}

.icon-heart:before {
    content: "\e08a"
}

.icon-info:before {
    content: "\e08b"
}

.icon-key:before {
    content: "\e08c"
}

.icon-link:before {
    content: "\e08d"
}

.icon-lock:before {
    content: "\e08e"
}

.icon-lock-open:before {
    content: "\e08f"
}

.icon-magnifier:before {
    content: "\e090"
}

.icon-magnifier-add:before {
    content: "\e091"
}

.icon-magnifier-remove:before {
    content: "\e092"
}

.icon-paper-clip:before {
    content: "\e093"
}

.icon-paper-plane:before {
    content: "\e094"
}

.icon-power:before {
    content: "\e097"
}

.icon-refresh:before {
    content: "\e098"
}

.icon-reload:before {
    content: "\e099"
}

.icon-settings:before {
    content: "\e09a"
}

.icon-star:before {
    content: "\e09b"
}

.icon-symbol-female:before {
    content: "\e09c"
}

.icon-symbol-male:before {
    content: "\e09d"
}

.icon-target:before {
    content: "\e09e"
}

.icon-credit-card:before {
    content: "\e025"
}

.icon-paypal:before {
    content: "\e608"
}

.icon-social-tumblr:before {
    content: "\e00a"
}

.icon-social-twitter:before {
    content: "\e009"
}

.icon-social-facebook:before {
    content: "\e00b"
}

.icon-social-instagram:before {
    content: "\e609"
}

.icon-social-linkedin:before {
    content: "\e60a"
}

.icon-social-pinterest:before {
    content: "\e60b"
}

.icon-social-github:before {
    content: "\e60c"
}

.icon-social-google:before {
    content: "\e60d"
}

.icon-social-reddit:before {
    content: "\e60e"
}

.icon-social-skype:before {
    content: "\e60f"
}

.icon-social-dribbble:before {
    content: "\e00d"
}

.icon-social-behance:before {
    content: "\e610"
}

.icon-social-foursqare:before {
    content: "\e611"
}

.icon-social-soundcloud:before {
    content: "\e612"
}

.icon-social-spotify:before {
    content: "\e613"
}

.icon-social-stumbleupon:before {
    content: "\e614"
}

.icon-social-youtube:before {
    content: "\e008"
}

.icon-social-dropbox:before {
    content: "\e00c"
}

.icon-social-vkontakte:before {
    content: "\e618"
}

.icon-social-steam:before {
    content: "\e620"
}


.switchcols .col-md-2,
.switchcols .col-md-3,
.switchcols .col-md-4 {
    order: 2;
}

.admissionfeestructure .headingst {
    display: block;
    font-weight: 400;
    font-size: 22px;
    margin: 0 0 30px 0;
    color: #0f1072;
    font-family: 'Roboto Slab', serif;
}

@media (max-width: 991px) {

    .mobilemenu {
        display: block !important;
    }

    .about-sec img {
        padding: 0 0 40px 0;
    }


    .stat {
        width: 150px;
        margin: 10px auto;
    }

    .worldmap {
        padding: 10px;
    }

    .offset-1 {
        margin: 0;
    }

    .offset-5 {
        margin: 0;
    }

    .offset-3 {
        margin: 0;
    }

    .haccordian {
        display: inline-block;
        width: 100%;
        padding: 50px 0 0 0;
        position: relative;
    }

    .commensec {
        clear: both;
        padding: 50px 0;
    }

    .middilesec .middilesec_slider {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .middilesec .middilesec_slider li .content {
        position: relative;
        width: 100%;
        height: auto;
        padding: 10px;
        left: 00px;
        border-radius: 0;
    }

    .middilesec .middilesec_slider li .content img {
        margin: 0px auto 10px;
    }

    .middilesec .middilesec_slider li {
        height: auto;
    }

    .arrowsldier .slick-prev {
        left: -10px;
    }

    .arrowsldier .slick-next {
        right: -10px;
    }

    .tab-content span {
        margin: 15px 0;
    }

    .tab-content .video_link {
        margin: 20px 0 0 0;
    }

    .counters {
        height: 60px;
    }

    .counters h4 {
        padding: 18px 0 0 0;
    }

    .counters .countersin {
        width: 100%;
    }

    .counters img {
        height: 90px;
        top: -15px;
    }

    .aboutsec .odd {
        order: inherit;
    }

    .fivelement .element1 {
        height: 250px;
        margin: 0 0 20px 0;
    }

    .fivelement .element2 {
        height: 250px;
        margin: 0 0 20px 0;
    }

    .fivelement .element3 img {
        bottom: 0;
    }

    .fivelement .element3 {
        height: 250px;
        margin: 0 0 20px 0;
    }

    .fivelement .element3 .content {
        width: 100%;
    }

    .fivelement .element3 img {
        width: 100%;
    }

    .fivelement .element4 {
        height: 250px;
        margin: 0 0 20px 0;
    }

    .fivelement .element4 .content {
        width: 100%;
    }

    .fivelement .element4 img {
        width: 100%;
    }

    .fivelement .element5 {
        height: 250px;
        margin: 0 0 20px 0;
    }

    .fivelement .element6 {
        height: 250px;
        margin: 0 0 20px 0;
    }

    .gallerslider {
        padding: 0 40px;
    }

    .gallerslider img {
        height: 400px;
    }

    .feedslider {
        padding: 0 35px 30px 35px;
    }

    .ourleader:before {
        height: 100%;
    }

    .newslatter .content {
        padding: 0;
    }

    .button2 {
        background: #0D0808;
        line-height: 50px;
        height: 50px;
        padding: 0 50px !important;
    }

    .sldier .slick-prev,
    .sldier .slick-next {
        top: 45%;
    }

    .sldier .slick-prev {
        right: auto;
        left: 0px;
    }

    .sldier .slick-next {
        right: 0px;
        left: auto;
    }

    .sldier1 .slick-prev {
        left: -10px;
        right: auto;
        top: 39% !important;
    }

    .sldier1 .slick-next {
        left: auto;
        right: -10px;
        top: 39% !important;
    }

    .sldier2 .slick-prev,
    .sldier2 .slick-next {
        top: 45% !important;
    }

    .sldier2 .slick-prev {
        left: -10px;
    }

    .sldier2 .slick-next {
        right: -10px;
    }

    .galleryhome hr {
        margin-bottom: 20px;
    }

    .teamsec hr {
        margin-top: 10px;
    }

    .commensec .afslider {
        padding: 0;
    }

    .leadershipsec {
        padding-bottom: 40px;
    }

    .haccordian .horizontal-accordion {
        display: block;
    }

    .haccordian .expand {
        width: 100%;
    }


    .haccordian .accornew {
        margin: 10px 0 0 0 !important;
    }

    .haccordian .small {
        width: 100%;
        height: 70px;
        border-radius: 10px;
    }

    .haccordian .small .accornew-body .bottomcard {
        padding: 0 10px;
    }

    .haccordian .small .accornew-body .bottomcard span {
        bottom: 10px;
        right: 15px;
        position: absolute;
    }

    .haccordian .expand .accornew-body .bottomcard {
        position: static;
        display: inline-block;
        padding: 20px;
    }

    .haccordian .accornew-body .cardtop {
        padding: 20px;
    }

    .haccordian .accornew-body .bottomcard button {
        width: 70%;
    }

    .haccordian .accornew-body .bottomcard span {
        right: 0;
        bottom: -34px;
    }

    .haccordian .small .accornew-body .cardtop .card-title1 {
        position: static;
        transform: none;
        position: relative;
        width: 70%;
        bottom: 8px;
        left: 0;
        writing-mode: inherit;
        white-space: inherit;
        font-size: 16px;
    }

    .contanctinfo {
        display: inline-block;
        width: 100%;
        padding: 0 0 0px 0;
    }

    .contanctinfo ul {
        padding: 0 0 30px 0;
        display: inline-block;
        width: 100%;
    }

    .contanctinfo ul li {
        width: 50%;
        float: left;
    }

    .newfooter .footelogo {
        margin: 15px 0;
        padding: 25px;
    }

    .newfooter .footelogo:before {
        display: none;
    }

    .ourteam {
        padding: 0 50px;
    }

    .switchcols .col-md-2,
    .switchcols .col-md-3,
    .switchcols .col-md-4 {
        order: inherit;
    }


    .foundationspap1 ul li {
        width: 42%;
        margin: 3%;
    }

    .snapshot {
        padding: 0 0 20px 0;
    }

    .fivelement {
        padding: 80px 0 370px 0;
    }

    .galleryhome {
        top: -300px;
        position: relative;
        margin: 0 0 -250px 0;
    }

    .galleryhome:before {
        top: 300px;
    }

    .newslatter .nlsec .swbutton2 {
        margin: 10px 0 0 0;
    }

    .parentstests {
        padding: 0;
        background: none;
    }

    .parentstests iframe {
        width: 90%;
        display: block;
        margin: 0 auto;
        height: 170px;
    }

    .new-tabssws {
        position: static;
    }

    .socialnew {
        display: inline-block;
        width: 100%;
        margin: 30px 0 40px 0;
    }

    .parenttesti .pimg {
        height: 200px;
    }

    .sliderhome .headeings h1 {
        font-size: 44px;
        line-height: 44px;
    }

    .haccordian .accornew-body .cardtop .card-title {
        font-size: 24px;
        line-height: 30px;
    }

    .fivelement .element1 img {
        width: 44%;
        left: 1%;
    }

    .gallerslider .galldiv .image img {
        height: 200px;
    }

}