* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}

.top-bar {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
}
.logo{
    display: flex;
}
.logo img {
  height: 50px;
}

.school-name h1 {
  font-size: 20px;
  color: #333;
}

.school-name span {
  font-size: 13px;
  color: gray;
}

.top-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.main-nav {
  background-color: #caa91e;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.nav-menu li {
  position: relative;
}

.nav-menu  li  a {
  display: block;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  min-width: 220px;
  z-index: 1000;
  flex-direction: column;
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: #333;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: flex;
}
