* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
}
.logo{
    display: flex;
}
.logo img {
  height: 50px;
}

.school-name h1 {
  font-size: 20px;
  color: #333;
}

.school-name span {
  font-size: 13px;
  color: gray;
}

.top-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.main-nav {
  background-color: #caa91e;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.nav-menu li {
  position: relative;
}

.nav-menu  li  a {
  display: block;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  min-width: 220px;
  z-index: 1000;
  flex-direction: column;
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu li a:hover {
  background-color: #333;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: flex;
}

body {
    margin: 0;
    padding: 0;
    background: #f2f3f7;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: #fff;
    display: flex;
    width: 800px;
    box-shadow: 0 6px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
}

.left, .right {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    flex: 1;
    align-items: center;
    border-right: 1px solid #ddd;
}

.school-logo {
    width: 250px;
    height: auto;
}

.right {
    flex: 1.3;
}

h2 {
    color: #203246;
    margin-bottom: 12px;
    font-size: 2rem;
}

.subtitle {
    color: #888;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #2f3b4d;
}

input[type="text"], input[type="password"] {
    padding: 12px 10px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

button {
    background: #eab308;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    margin-bottom: 18px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #cf980c;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #1769aa;
    text-decoration: none;
    font-size: 1rem;
}
